@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }
}

html,
body {
  height: 100%;
  margin: 0; /* Pour éviter un comportement inattendu */
  box-sizing: border-box;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
