@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-desktop: initial;
  --color-primary: #f8ad16;
  --color-secondary: #d97706;
  --color-background: #fafafa;
  --color-foreground: #171717;
  --animate-blur-in-bottom: blur-in-bottom 500ms ease-out forwards;
  --animate-fade-in: fade-in 1ms ease-in forwards;
  --animate-zoom-in: zoom-in 700ms ease-in forwards;
  --animate-slide-in-top: slide-in-top 500ms forwards;
  --animate-slide-through: slide-in-left 500ms ease-in-out 1s,
    slide-out-right 500ms ease-in-out forwards 1500ms;
}

@utility animation-delay-500 {
  animation-delay: 500ms;
}

@utility animation-delay-1000 {
  animation-delay: 1000ms;
}

@utility animation-delay-1500 {
  animation-delay: 1500ms;
}

@utility animation-delay-2000 {
  animation-delay: 2000ms;
}

@utility animation-delay-2500 {
  animation-delay: 2500ms;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

button {
  cursor: pointer;
}

/*** Animations ***/
@keyframes blur-in-bottom {
  0% {
    opacity: 0;
    filter: blur(12px);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes slide-in-top {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*** scrollbar ***/

/* in Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
