/* ░░░░░░░░░░░░ Fonts ░░░░░░░░░░░░ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "medel";
  src: url("fonts/Medel.ttf") format("truetype");
}

/* ░░░░░░░░░░░░ Tag ░░░░░░░░░░░░ */
body {
  position: relative;
}
